<a href="https://colab.research.google.com/github/AnaVargasJ/MDigitales/blob/main/EjerciciosClase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicios propuestos**

**Tipos de datos**

**Enteros**

In [ ]:
b=int(6.356)
print(b)

6

In [ ]:
c=float(4.23)
print(c)

4.23

**Cadena**

In [ ]:
val="Hola"
print(val)

val1="Ana"
print(val1)

Hola
Ana

In [ ]:
a="querer"
c="es poder"
print(a,c)

querer es poder
3

In [ ]:
q="10"
p="5"
b=int(q)
c=int(p)
print("la resta es:",b-c, "la suma es:",c+b,"la multiplicacion es:",b*c,"y la division es:",b/c)

la resta es: 5 la suma es: 15 la multiplicacion es: 50 y la division es: 2.0

**Booleanos**

In [ ]:
Ana = True
print("El valor es verdadero:",Ana,"lo cual es tipo", type(Ana))

El valor es verdadero: True lo cual es tipo <class 'bool'>

In [ ]:
Carmen = False
print("El valor es falso", Carmen,"lo cual es tipo", type(Carmen))

El valor es falso False lo cual es tipo <class 'bool'>

**Conjuntos**

**listas**

In [ ]:
Carmen=['10','mora','fresa','mango','coco','limon']
print(Carmen)
de=Carmen[1:3]
print(de)

['10', 'mora', 'fresa', 'mango', 'coco', 'limon']
['mora', 'fresa']

**Tuplas**

In [ ]:
tupla1=20,26,'hola'
print(tupla)
tupla2=tupla1,(1,2,3,4)
print(otra)

(23, 28, 'hola')
((23, 28, 'hola'), (1, 2, 3, 4))

**Diccionarios**

In [ ]:
datos_b={
    "nombres":"Ana",
    "apellido":"Vargas",
    "Cedula": "2345671",
    "estado_civil": "Soltera",
    "lugar_nacimiento":"Ibague",
    "Fecha_nacimiento":"23/12/2001",
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("cedula de ciudadania:", datos_b['fecha_de nacimiento'])

ID del diccionario dict_keys(['nombres', 'apellido', 'Cedula', 'estado_civil', 'lugar_nacimiento', 'Fecha_nacimiento'])
ID del diccionario dict_values(['Ana', 'Vargas', '2345671', 'Soltera', 'Ibague', '23/12/2001'])
ID del diccionario dict_items([('nombres', 'Ana'), ('apellido', 'Vargas'), ('Cedula', '2345671'), ('estado_civil', 'Soltera'), ('lugar_nacimiento', 'Ibague'), ('Fecha_nacimiento', '23/12/2001')])

KeyError: ignored

In [ ]:
motos_0={}
motos_0['tamaño']='mediana'
motos_0['color']='azul'
motos_0['marca']='AKT'
motos_0['precio']=50

motos_1={}
motos_1['tamaño']='grande'
motos_1['color']='roja'
motos_1['marca']='Suzuki'
motos_1['precio']=63
print(motos_0)
print(motos_1)

compra0= motos_0['precio'] 
compra1=motos_1['precio']
compratotal=compra0 + compra1

print("la compra total fue de:", compratotal)

{'tamaño': 'mediana', 'color': 'azul', 'marca': 'AKT', 'precio': 50}
{'tamaño': 'grande', 'color': 'roja', 'marca': 'Suzuki', 'precio': 63}
la compra total fue de: 113