<a href="https://colab.research.google.com/github/AnaVargasJ/MDigitales/blob/main/Taller_semana_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introducción

**Contexto comercial.** Usted es un analista en una entidad bancaria, y se le proporciona un conjunto de datos de los clientes. Su jefe le pide que analice la información para determinar si existen similaridades entre grupos de clientes para lanzar una campaña de mercadeo.

**Problema comercial.** Su tarea es **crear un modelo de clusterización para determinar si existen grupos de clientes similares**.

**Contexto analítico.** Como científico de datos, se le pide realizar una clusterización de los clientes para identificar

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
import sklearn # Paquete base de ML

from scipy.stats import norm
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, MaxAbsScaler, RobustScaler, StandardScaler

%matplotlib inline

In [15]:
url = 'https://raw.githubusercontent.com/AnaVargasJ/pandas/main/Lending_club_cleaned_2.csv'
df = pd.read_csv(url)

In [16]:
df.head()

   loan_status  annual_inc  ...        term grade
0   Fully Paid     24000.0  ...   36 months     B
1  Charged Off     30000.0  ...   60 months     C
2   Fully Paid     12252.0  ...   36 months     C
3   Fully Paid     49200.0  ...   36 months     C
4   Fully Paid     80000.0  ...   60 months     B

[5 rows x 10 columns]

## Ejercicio 1:

Realice una normalización de los datos numéricos es decir que los valores oscilen entre 0 y 1 en las columnas  annual_inc y loan_amnt.
Consejo: antes de realizar la normalización asegúrese de que el tipo de dichas columnas si sea numérico.

In [28]:
# Escriba aquí su codigo
#llamado de columnas
df[['annual_inc','loan_amnt']]

       annual_inc  loan_amnt
0        0.003336   0.130435
1        0.004336   0.057971
2        0.001376   0.055072
3        0.007538   0.275362
4        0.012675   0.072464
...           ...        ...
38700    0.017678   0.057971
38701    0.002335   0.231884
38702    0.016011   0.130435
38703    0.032688   0.130435
38704    0.003002   0.202899

[38705 rows x 2 columns]

In [22]:

df[['annual_inc','loan_amnt']].describe() 
#permite ver el max y min valor

         annual_inc     loan_amnt
count  38705.000000  38705.000000
mean       0.011603  11303.916161
std        0.010704   7470.319733
min        0.000667    500.000000
25%        0.006916   5500.000000
50%        0.010000  10000.000000
75%        0.013867  15000.000000
max        1.000000  35000.000000

In [24]:
#simple feature scaling
#df[['annual_inc']]= df[['annual_inc']]/ df[['annual_inc']].max()
#Min-Max valor - valor max 
df[['annual_inc']]= (df['annual_inc']-df['annual_inc'].min())/(df['annual_inc'].max()-df['annual_inc'].min())
#simple feature scaling
#df[['loan_amnt']]= df[['loan_amnt']]/ df[['loan_amnt']].max()
#Min-Max valor - valor max 
df[['loan_amnt']]= (df['loan_amnt']-df['loan_amnt'].min())/(df['loan_amnt'].max()-df['loan_amnt'].min())

In [29]:
df[['annual_inc','loan_amnt']].describe()

         annual_inc     loan_amnt
count  38705.000000  38705.000000
mean       0.010944      0.313157
std        0.010711      0.216531
min        0.000000      0.000000
25%        0.006254      0.144928
50%        0.009340      0.275362
75%        0.013209      0.420290
max        1.000000      1.000000

## Ejercicio 2:

Emplee el algoritmo de k-means para agrupar a los clientes usando un número de clusters de 4.

In [ ]:
# Escriba aquí su codigo

## Ejercicio 3 (Opcional):

Realice un gráfico de dispersión (scatter) para vizualizar los cluster que descubrió en el punto anterior (ejercicio 2). Usando colores diferentes para identificar los 4 cluster.

In [ ]:
# Escriba aquí su codigo

## Ejercicio 4 (Opcional):

Use el método del codo para verificar cual es el número de clusters óptimo. Revise desde 1 clúster hasta 11 para realizar esta validación.

In [ ]:
# Escriba aquí su codigo